.ose.sheet.item {
  .sheet-header {
    h1 {
      input {
        margin: 6px 2%;
      }
    }
    .profile-img {
      border: none;
      flex: 0 0 84px;
      height: 84px;
    }
    .tag-list {
      margin: 0;
      height: 24px;
      overflow: auto;
      list-style: none;
      padding: 1px;
      display: flex;
      flex-wrap: wrap;
      .tag {
        background: $colorOlive;
        border-radius: 5px;
        color: whitesmoke;
        padding: 1px 5px;
        height: 18px;
        box-shadow: 0 0 3px $colorFaint;
        margin: 0 2px;
        i {
          font-size: 8px;
          vertical-align: top;
          color: $colorFaint;
        }
      }
    }
  }
  .sheet-body {
    .stats {
      flex: 0 0 90px;
      border-right: 1px groove rgba(0, 0, 0, 0.2);
      padding-right: 2px;
      font-size: 13px;
      .form-group {
        margin: 1px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        label {
          background: rgba(0, 0, 0, 0.1);
          padding: 0 4px;
        }
        input {
          border-bottom: none;
          margin: auto 0;
        }
      }
      .block-input {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      &.narrow {
        .form-group {
          input {
            height: 18px;
          }
        }
      }
    }
    .editor {
      height: 250px;
    }
  }
}
